<div>
    <div>
            <h1 >Acesso ao Sistema</h1>
    </div>
     <form [formGroup]="rForm" (ngSubmit)="efetuarLogin(rForm.value)"  class="conteudo">

                <mat-input-container class="input-basic">
                    <input matInput placeholder="Login" formControlName="usuario">
                    <mat-error *ngIf="!rForm.controls['usuario'].valid">
                        Usuário é obrigatório
                    </mat-error>
                </mat-input-container>

                <mat-input-container class="input-basic">
                    <textarea matInput placeholder="Senha" 
                    formControlName="senha"></textarea>
                    <mat-error *ngIf="!rForm.controls['senha'].valid">
                        Senha precisa ter mais de 8 a 15 caracteres
                    </mat-error>
                </mat-input-container>

                <div>
                    <button mat-raised-button type="button" [disabled]="!rForm.valid">Recuperar Senha</button>
                    <button mat-raised-button   type="button" (click)="entrar()">Entrar</button>
                </div>
            </form>

</div>
